streamlit>=1.27
matplotlib
numpy
pandas
plotly
scipy
xarray
netCDF4
peewee
requests
h5py

# Working geospatial stack
shapely==1.8.5.post1
fiona==1.9.5
pyproj==3.4.1
geopandas==0.13.2

# CLIMADA latest (compatible with shapely<2)
git+https://github.com/CLIMADA-project/climada_python.git
